/**
* STYLESHEET FOR CHAT OVERLAY
*/
span.username {
	padding-right: 5px;
	font-weight: bold;
	color: darkcyan;
}

span.message {
	color: lightgrey;
	font-weight: bold;
}

.messageContainer {
	display: none; /* hidden by default; shown via javascript */
}