/* custom styles for leaderboard widget */

body {
	font-family: 'Abril Fatface' !important;
}

#leaderBoard {
	width: 620px;
}

#leaderBoard td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	padding-right: 0px;
	font-size: 20pt;
	font-weight: bold;
}

.question-wrapper {
	background: #444;
	width: 622px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 8px;
	height: 285px;
	font-size: 27;
	color: white;
	padding: 5px;
	border: 2px solid #CCC;
	border-radius: 10px;
	display: none; /* shown via javascript */
}

.option {
	margin-left: 10px;
	padding-left: 5px;
	border-radius: 10px;
	color: #333;
	margin-bottom: 5px;
	display: none; /* shown via javascript */
}

.option-a {
	margin-top: 10px;
	background: lightcoral;
}

.option-b {
	background: lightgoldenrodyellow;
}

.option-c {
	background: lightgreen;
}

.option-d {
	background: lightblue;
}

table tr:nth-child(1) {
	background: lightcoral !important;
}

table tr:nth-child(2) {
        background: lightsalmon !important;
}

table tr:nth-child(3) {
        background: lightgoldenrodyellow !important;
}

table tr:nth-child(4) {
        background: lightgreen !important;
}

table tr:nth-child(5) {
        background: lightblue !important;
}

label.block-label {
	margin-top: 10px;
	display: block;
}

#question_form button {
	display: block;
	margin-top: 20px;
	width: 100px;
	background-color: blue;
	color: white;
}
